Banner /etc/ssh-banner

# settings for the ssh connection
Match User game
    PasswordAuthentication yes
    PermitEmptyPasswords yes
    ForceCommand python3 /game/game.py $SSH_CONNECTION
    DisableForwarding yes
    Banner None